<?xml version='1.0' encoding='utf-8'?>
<widget id="mlkit.facedetection.cordova" version="1.0.0"
xmlns="http://www.w3.org/ns/widgets"
xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>faceDetection</name>
    <description>
        A sample Apache Cordova application that face detection.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">Sample App</author>

    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidXEnabled" value="true" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
    </platform>

    <plugin name="cordova-plugin-mlkit-facedetection" spec="https://github.com/tripodworks-iot/cordova-plugin-mlkit-facedetection.git" />

</widget>
